.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  margin: 5px;
  text-align: center;
}

.category {
  box-shadow: 2px 2px 2px 2px rgb(214, 213, 213);
  padding: 3px;
}
