.navBar {
  display: block;
  background-color: #059;
  line-height: 40px;
  font-size: 20px;
  padding: 2px;
  color: white;
}

ul {
  margin: 0;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
}

.logo {
  width: 20px;
  height: 20px;
  box-shadow: none;
  border: none;
  align-items: center;
}

#username {
  cursor: text;
  text-decoration: none;
}